html,body{
    margin:0;
    padding:0;
    background: black;
}
.container{
    height:200px;
    width:calc(200px*7/6); /* aspect ratio of Niger's Flag is 6 (width) : 7 (height) */
    background:blue;
    margin:1em auto;
    display:grid;
}
.orange{
    background:orange;
}
.white{
    background: white;
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
}
.green{
    background: green;
}
.circle{
    /* both height and width of circle is 85% of the height and width of the (white)stripe. */
    height:56.67px;
    width:56.67px;
    background-color: orange;
    border-radius:50%;
    position:absolute;
}
